  <h2>Shift Plan</h2>
  <div>
    <label>Member name:</label> <input #heroName (keyup)="o"/>
  </div>
  <div>
    <button (click)="getPre()">< Previous</button>
    <button (click)="getCur()">Current</button>
    <button (click)="getNext()">Next ></button>
  </div>
  <ul class="heroes">
	  <li class="cal" *ngFor="let hero of (heroes | flyingHeroes:heroName.value) " [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
      <span class="badge">{{hero.date}}<br>{{hero.weekday}}</span>
       <br>
      <span class="shift"><i class="glyphicon glyphicon-adjust"></i>{{hero.shift}}</span>
      <br>
      <span class=""><i class="glyphicon glyphicon-earphone"></i>{{hero.name}}</span>
	  </li>
  </ul>

  <div *ngIf="selectedHero">
    <h2>
      Plan Of {{selectedHero.date}} {{selectedHero.weekday}} <button (click)="gotoDetail()">Modify</button>
    </h2>
    
      <div>

  </div>

  <div>
    <label>shift owner: </label>
    <input [(ngModel)]="selectedHero.shift" placeholder="shift owner" readonly="readonly"/>
  </div>
  <div>
    <label>shiftcall: </label>
    <input [(ngModel)]="selectedHero.shiftcall" placeholder="shiftcall" readonly="readonly"/>


  </div>
  <div>
    <label>oncall name: </label>
    <input [(ngModel)]="selectedHero.name" placeholder="name" readonly="readonly"/>
  </div>
  <div>
    <label>oncall: </label>
    <input [(ngModel)]="selectedHero.oncall" placeholder="oncall" readonly="readonly"/>

  </div>
  </div>