



.container{
	margin-top:40px;
	
}




.form-control{
	width:300px;
}

h3{
	font-size:24px;
	color:#888888;
}

label{
	font-size:15px;
	color:#888888;
}

button:hover{
	background-color:#23c6c8;
}


