<div class="container">
<div *ngIf="parm">
  <h3>JobList {{parm.id}}</h3>
  <div>
    <label>id: </label>{{parm.id}}
  </div>
  <div class="form-group">
    <label >appId: </label>
    <input class="form-control" [(ngModel)]="parm.appId" placeholder="appId" />
  </div>
  <div class="form-group">
    <label>jobCode: </label>
    <input class="form-control" [(ngModel)]="parm.jobCode" placeholder="jobCode" />
  </div>
  <div class="form-group">
    <label>modelState: </label>
    <input class="form-control" [(ngModel)]="parm.modelState" placeholder="modelState" />
  </div>
  <div class="form-group">
    <label>createTime: </label>
    <input class="form-control" [(ngModel)]="parm.createTime" placeholder="createTime" />
  </div>
  <div class="form-group">
    <label>priority: </label>
    <select class="form-control"
        [(ngModel)]="selectedType" (ngModelChange)="updateJobType($event)">
        <option disabled value="0" class="hideoption">{{parm.priority}}</option>
        <option *ngFor="let jobtype of jobtypes"    [ngValue]="jobtype" > 
        {{jobtype.id}} - {{jobtype.typeDes}}
      </option>
      </select>
  </div>
  <div class="form-group">
    <label>updateTime: </label>
    <input class="form-control" [(ngModel)]="parm.updateTime" placeholder="updateTime" />
  </div>
  <button (click)="save()">Save</button> <button (click)="goBack()">Back</button>
</div>
</div>