<div *ngIf="parm">
  <h2>JobList {{parm.id}}</h2>
  <div>
    <label>id: </label>{{parm.id}}
  </div>
  <div>
    <label>appId: </label>
    <input [(ngModel)]="parm.appId" placeholder="appId" />
  </div>
  <div>
    <label>jobCode: </label>
    <input [(ngModel)]="parm.jobCode" placeholder="jobCode" />
  </div>
  <div>
    <label>modelState: </label>
    <input [(ngModel)]="parm.modelState" placeholder="modelState" />
  </div>
  <div>
    <label>createTime: </label>
    <input [(ngModel)]="parm.createTime" placeholder="createTime" />
  </div>
  <div>
    <label>priority: </label>
    <select 
        [(ngModel)]="selectedType" (ngModelChange)="updateJobType($event)">
        <option disabled value="0" class="hideoption">{{parm.priority}}</option>
        <option *ngFor="let jobtype of jobtypes"    [ngValue]="jobtype" > 
        {{jobtype.id}} - {{jobtype.typeDes}}
      </option>
      </select>
  </div>
  <div>
    <label>updateTime: </label>
    <input [(ngModel)]="parm.updateTime" placeholder="updateTime" />
  </div>
  <button (click)="save()">Save</button> <button (click)="goBack()">Back</button>
</div>
